*{
    margin: 0;
    padding: 0;

}


body{
    height: 685px;
    background-image: url('../assets//bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}


nav{
    margin-bottom: 50px;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    color: #fff;
    padding: 0px 60px;
}

.logo{
    width: 200px;
}

.logo>h1{
    position: absolute;
    font-size: 45px;
    bottom: -4px;
}


.nav-list{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 40px 0;
    border-bottom: 2px solid #fff;

}

nav .nav-list li{
    text-align: center;
    margin: 0 40px;
    font-size: 25px;
    font-weight: 600;
}


.call-us>div{
    text-align: justify;
    font-size: 20px;
}

.call-us>img{
    position: relative;
    top: 5px;
    left: 6px;
    height: 50px;
    filter: invert();
    
}

.call-us{
    display: flex;
    align-items: center;

}



/* main section  */

.main{
    display: flex;
    justify-content: space-between;
}



.main .left{
    margin-left: 60px;
    font-family: sans-serif;
    color: #ffffff;
}

.main .left h1{
    margin-top: 50px;
    font-size: 5.7rem;
    margin-left: 40px;
}

.main .left .btn{
    margin-left:30px ;
    margin-top: 40px;
    font-size: 30px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    background: transparent;
    border: 3px solid #ffffff;
    padding: 15px 35px;
    border-radius: 50px;
    cursor: pointer;
}
.main .right{
    position: relative;
}
.card{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #304a5992;
    padding: 30px;
    border-radius: 2px;
    /* text-align: justify; */
    position: relative;
    gap: 15px;
    font-size: 23px;
    color: #ffffff;
}

.pointer1{
    display: flex;
    flex-direction: column;
    align-items:center;
    height: 90px;
    width: 1px;
    background-color: #ffffff;
    position: absolute;
    top: 100%;
    right: 25%;
}

.dot1{
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    bottom: 0;


}


.puzzle>img{
    height: 35px;
    width: 35px;
    background-color: #ffffff;
    padding-top: 3px  ;
    padding-bottom: 5px;
    padding-left: 27px;
    padding-right: 32px;
    border-radius: 40px;
}

.puzzle{
    top: 10px;
    right: 100px;
}

.bulb{
    top: 150px;
    right:350px
}

.bulb>img{
    height: 50px;
    background-color: #ffffff;
    width: fit-content;
    padding: 0px 25px;
    border-radius: 40px;
}

.pointer2{
    display: flex;
    align-items: center;
    width: 90px;
    height: 1px;
    background-color: #ffffff;
    position: absolute;
    left: 100%;
    top: 50%;
}

.dot2{
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    right: 0;
}